{% extends "base.html" %}

It should contain a form with a username and password field,
and a submit button. To figure out exactly what the field names
should be, and how the form should be submitted, look at LoginHandler
 and note that its route is set up to be /login.
 The template will be passed a parameter named error in the case
 of a login error, such as incorrect password or username.
 Make sure to display this error somewhere in your template.
 You may use the CSS class error to have this message styled
 appropriately.

{% block content %}

<h1>LOGIN</h1>

<form method="post">
    <label>
        <div>Username</div>
        <input class="input" type="text" name="username" value="{{username}}">
    </label>
    <label>
        <div>Password</div>
        <input class="input" type="password" name="password">
    </label>
    {% if error != '' %}
      <div class="error">{{ error }}</div>
    {% endif %}  
    <input class="submit" type="submit">
    <p>Don't have an account? <a href="/signup">Create one!</a></p>
</form>


{% endblock content %}
